div {
    background-color: lightblue;
    border: 1px solid blue;
    text-align: center;
}


table {
    /* text-align: center; */
    /* display: inline-block; */
    margin: 0;
    background-color: lemonchiffon;
    border: 1px solid red;
}